* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #111;
  font-family: courier;
  color: #dfdfdf;
  position: relative;
}

.container {
  width: 1200px;
  /* margin-left: auto;
  margin-right: auto; */
  margin: 0 auto;
}

h2,
h3,
h4 {
  color: #1098ad;
}

.main-header {
  /* text-align: center; */
  background-color: #1098ad;
  color: #dfdfdf;
  border-top: 5px solid #afeeee;
  padding: 20px;
  /* margin-bottom: 60px; */
}

h1 {
  font-size: 35px;
  /* font-weight: bold; */
  text-transform: uppercase;
}

button {
  font-size: 30px;
  padding: 5px;
  background-color: #010101;
  border: 1px solid #1098ad;
  border-radius: 500px;
  cursor: pointer;
  position: absolute;
  bottom: 50px;
  right: 50px;
}

button:hover {
  background-color: #1098ad;
  border: 1px solid #010101;
}

h2 {
  font-size: 37px;
  text-transform: uppercase;
  margin-bottom: 20px;
  position: relative;
  /* background-color: orange; */
}

h2::after {
  content: "learn";
  background-color: #afeeee;
  color: #111;
  font-weight: bold;
  font-size: 15px;
  display: inline-block;
  border-radius: 30px;
  padding: 7px 10px;
  position: absolute;
  top: -10px;
  right: -15px;
}

h3 {
  font-size: 25px;
  margin-bottom: 20px;
  margin-top: 40px;
}

h4 {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  /* background-color: #1098ad; */
  color: #1098ad;
  padding: 30px;
  border-radius: 10px 10px 0px 0px;
  /* margin-bottom: 20px; */
  font-weight: bold;
}

li {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 15px;
  /* display: inline; */
}

ul,
ol {
  margin-left: 50px;
  margin-bottom: 20px;
}

p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 15px;
}

nav {
  font-size: 25px;
  /* text-align: center; */
}

nav a:link {
  margin-right: 10px;
  /* margin: 10px; */
  display: inline-block;
}

nav a:link:last-child {
  margin-right: 0;
}

article {
  /* margin-bottom: 60px; */
}

aside a:link {
  color: #afeeee;
}

aside a:visited {
  color: #afeeee;
}

aside a:hover {
  color: #dfdfdf;
}

aside a:active {
  color: orangered;
}
aside a {
  font-size: 18px;
  margin-bottom: 10px;
  display: inline-block;
}

article a:link {
  color: #afeeee;
}

article a:visited {
  color: #afeeee;
}

article a:hover {
  color: #dfdfdf;
}

article a:active {
  color: orangered;
}

a:link {
  color: #111;
  text-decoration: none;
  font-weight: bolder;
}

a:visited {
  color: #111;
  font-weight: bold;
}

a:hover {
  color: #dfdfdf;
  font-weight: bold;
}

a:active {
  font-style: normal;
  color: #afeeee;
}

.creator-img {
  border-radius: 500px;
  border: 3px solid #afeeee;
}
.post-img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.para-1 strong {
  color: #1098ad;
}
/* footer p {
  font-family: sans-serif;
  font-size: 12px;
}

article header p {
  font-style: italic;
} */

.author {
  font-style: italic;
  font-size: 18px;
}

#copyright {
  font-family: sans-serif;
  font-size: 12px;
}

.related-author {
  font-size: 15px;
  font-weight: bold;
}

.related {
  list-style: none;
  margin-left: 0;
}

.article-header {
  margin-bottom: 40px;
  /* position: relative; */
}

.related img {
  border-radius: 10px;
  margin-bottom: 10px;
  display: block;
}

aside {
  background-color: #010101;
  border-top: 5px solid #afeeee;
  border-bottom: 5px solid #afeeee;
  border-radius: 10px;
  padding: 0px 40px 30px 40px;
}

li:first-child {
  font-weight: bold;
}

li:last-child {
  margin-bottom: 0;
}

h2::first-letter {
  font-size: 60px;
  font-family: sans-serif;
  font-weight: bolder;
}

/* h3 + p::first-line {
  {+}--> adjacent sibling selector
  font-weight: bold;
} */

footer {
  margin-bottom: 20px;
}

/* FLOATS */
/* .creator-img {
  float: left;
}

.author {
  float: left;
  margin-top: 35px;
  margin-left: 30px;
} */

/* h1 {
  float: left;
}

nav {
  float: right;
}

ClearFix Hack
.main-header::after {
  content: "";
  display: block;
  clear: both;
} */
/* 
article {
  width: 825px;
  background-color: red;
  float: left;
}

aside {
  background-color: green;
  width: 300px;
  float: right;
}

footer {
  clear: both;
  background-color: yellow;
} */

.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.author {
  margin-bottom: 0;
  margin-left: 15px;
}
.author-box {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.related-post {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-bottom: 30px;
}

.related-author {
  margin-bottom: 0;
  font-weight: normal;
  font-style: italic;
}

.related-link:link {
  font-size: 17px;
  font-weight: bold;
  font-style: normal;
  text-transform: capitalize;
  display: block;
}

/* FlexBox Layout
.row {
  display: flex;
  gap: 75px;
  margin-bottom: 60px;
  align-items: flex-start;
}
article {
  flex: 0 1 825px;
  flex: 1;
  margin-bottom: 0;
}

aside {
  flex: 0 0 300px;
} */

/* Grid Layout */
.container {
  display: grid;
  grid-template-columns: 1fr 300px;
  column-gap: 75px;
  row-gap: 60px;
  align-items: start;
}

.main-header {
  grid-column: 1 / -1;
}

footer {
  /* background-color: #1098ad; */
  grid-column: 1/-1;
}
