/*
--TYPOGRAPHY SYSTEM

-- FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

Font weight :  500  600   700

--Line height: 
DEFAULT- 1  
small- 1.05  
medium- 1.2 
para default- 1.6

--Letter Spacing:
-0.5px
1px
--colors

Primary : #e67e22
Tints : #fdf2e9 #fae5d3
Shades : #cf711f
Accents : 
Greys : #555 #333


--Shadows

--Border-Radius Default--> 9px

--WhiteSpace

--SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

*/

/* Global Reset--------------------------------------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* Font : 10px */
  font-size: 62.5%;
}

body {
  font-family: "Rubik", sans-serif;
  color: #555;
  line-height: 1;
  font-weight: 400;
}

.logo {
  height: 2.2rem;
}

/* Reusable items------------------------------------------------- */

.container {
  max-width: 120rem; /*Standard */
  padding: 0 3.2rem;
  margin: 0 auto;
}

.grid {
  /* Grid Container */
  display: grid;
  row-gap: 9.6rem;
  column-gap: 6.4rem;
  grid-template-columns: repeat(2, 1fr);
}

.grid--center--v {
  align-items: center;
}

.grid--2--cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3--cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid--4--cols {
  grid-template-columns: repeat(4, 1fr);
}

/* General items------------------------------------------------------------- */
.heading-primary,
.heading-secondary,
.heading-tertiary {
  font-weight: 700;
  letter-spacing: -0.5px;
  color: #333;
}

.heading-primary {
  font-size: 5.2rem;
  line-height: 1.05;
  margin-bottom: 3.2rem;
}

.heading-secondary {
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 9.6rem;
}

.heading-tertiary {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}

.subheading {
  display: block;
  font-size: 1.6rem;
  letter-spacing: 1px;
  font-weight: 500;
  color: #cf711f;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
}

/* Buttons------------------------------------------------------------- */

.btn:link,
.btn:visited {
  font-size: 2rem;
  display: inline-block;
  text-decoration: none;
  padding: 1.6rem 3.2rem;
  border-radius: 10px;
  font-weight: 600;

  transition: all 0.4s;
}

.btn--full:link,
.btn--full:visited {
  background-color: #e67e22;
  color: #fff;
}

.btn--full:hover,
.btn--full:active {
  box-shadow: 0 0 16px #e67e22;
}

.btn--outline:link,
.btn--outline:visited {
  background-color: #fff;
  position: relative;
  color: #e67e22;
}

.btn--outline:hover,
.btn--outline:active {
  background-color: #fdf2e9;
  /* border: 3px solid #fff; gives outside the box*/
  box-shadow: inset 0 0 0 3px #e67e22;
  border-radius: 500px;
  color: #e67e22;
}

/* Margin items------------------------------------------------------------- */

.margin-right-sm {
  margin-right: 1.6rem !important;
}
