<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Person Collage</title>
    <style>
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
      .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 100px auto;
        gap: 12px;
      }
      .contain {
        display: flex;
      }
      img {
        border-radius: 50%;
        margin-right: -32px;
        border: 6px solid #fff;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="contain">
        <img src="images/customer-1.jpg" alt="c1" />
        <img src="images/customer-2.jpg" alt="c2" />
        <img src="images/customer-3.jpg" alt="c3" />
        <img src="images/customer-4.jpg" alt="c4" />
        <img src="images/customer-5.jpg" alt="c5" />
        <img src="images/customer-6.jpg" alt="c6" />
      </div>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda,
        eveniet.
      </p>
    </div>
  </body>
</html>
